@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBar:hover .categoryIcon{
    color: #fff;
}

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 52%;
}